:root {
  --primary: #904e95;
  --secondary: #e96443;
  --dark-primary: #78417c;
}

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: var(--secondary);
  background: -webkit-linear-gradient(to right, var(--primary), var(--secondary));
  background: linear-gradient(to right, var(--primary), var(--secondary));
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background: #FCFCFC;
  box-shadow: 0 0 30px rgba(3,3,3,0.419);
  border-radius: 3px;
  padding: 30px;
  width: 90%;
  max-width: 600px;
  height: 70%;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 576px) {
  .form {
    width: 70%;
  }
}

.form__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1.5em;
  width: 50%;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.form__label {
  margin-bottom: 2em;
}

.form__input {
  padding: 1em;
}

.form__input:focus {
  outline: 1px solid var(--primary);
}

.hide {
  display: none;
}

.form__nav {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 30px;
}

.form__btn {
  cursor: pointer;
  color: white;
  background: var(--primary);
  padding: 1em 3em;
  transition: background .5s;
}

.form__btn:hover {
  background: var(--dark-primary);
}

.form__btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 0 4px var(--primary);
}

.form__next-btn:hover {
  background: var(--dark-blue);
}

.form__arrow {
  fill: white;
}